<form [formGroup]="appointmentForm" (ngSubmit)="onSchedule()">
  <div>
    <label for="patientDNI">DNI paciente:</label>
    <input type="dni" id="patientDNI" formControlName="patientDNI" />
  </div>
  <div>
    <label for="doctorId">Selecciona un médico:</label>
    <select type="doctorId" id="doctorId" formControlName="doctorId">
      <option value="">Selecciona un médico</option>
      <option *ngFor="let doctor of doctors" [value]="doctor.id">
        {{ doctor.name }}
      </option>
    </select>
  </div>
  <div>
    <label for="date">Fecha:</label>
    <input type="date" id="date" formControlName="date" />
  </div>
  <div>
    <label for="time">Hora:</label>
    <select type="time" id="time" formControlName="time">
      <option value="">Selecciona una hora</option>
      <option *ngFor="let time of availableTimes" [value]="time">{{ time }}</option>
    </select>
  </div>
  <div>
    <label for="notes">Motivo de la Consulta:</label>
    <textarea id="notes" formControlName="notes"></textarea>
  </div>
  <button type="submit">{{ isEditing ? 'Guardar' : 'Agendar Turno' }}</button>
</form>
