<div class="appointments-container">
  <button class="schedule-button" (click)="navigateToSchedule()">Agendar Turno</button>

  <table class="appointments-table">
    <thead>
      <tr>
        <th class="header-cell">Fecha</th>
        <th class="header-cell">Hora</th>
        <th class="header-cell">Profesional</th>
        <th class="header-cell">Especialidad</th>
        <th class="header-cell">Estado</th>
        <th class="header-cell">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let appointment of dataSource.data" class="data-row">
        <td>{{ appointment.date | date: 'dd/MM/yyyy' }}</td>
        <td>{{ appointment.time }}</td>
        <td>{{ appointment.doctorName }}</td>
        <td>{{ appointment.doctorSpecialization }}</td>
        <td>Agendado</td>
        <td>
          <div class="actions-container">
            <button class="edit-button" (click)="editAppointment(appointment.id, appointment)">
              <i class="fas fa-edit"></i> <!-- Icono de edición -->
            </button>
            <button class="delete-button" (click)="deleteAppointment(appointment.id)">
              <i class="fas fa-trash"></i> <!-- Icono de papelera -->
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
