<form [formGroup]="registerForm" (ngSubmit)="onRegister()">  
    <div>  
      <label for="email">Email:</label>  
      <input type="email" id="email" formControlName="email">  
    </div>  
    <div>  
      <label for="password">Password:</label>  
      <input type="password" id="password" formControlName="password">  
    </div>  
          <!-- Mensaje de error general -->
          <div *ngIf="errorMessage" class="error-message">
            {{ errorMessage }}
          </div>
        
    <button type="submit">Registrarme</button>  
  </form>